# Don't track content of these files
*.o
*.exe
*.txt
*.log
*.synctex.gz
*.nvprof
*.tex
*.eps
*.fig

# Don't track content of these folders
Web/

# Don't track specific files in specific folders
PerThread/Doc/*.m