# Don't track content of these files
*.o
*.exe
*.txt
*.log
*.synctex.gz
*.nvprof
*.tex
*.eps
*.fig
*.fprg
*.png
*.svg

# Don't track content of these folders
Web/
Doc/Figures
PerThread/Doc/Figures
PerBlockCoupling/

# Don't track specific files in specific folders
Doc/*.m
PerThread/Doc/*.m